/* properties reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* novento Homepage background appearance */
/*  main text UI properties */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-image: url("../images/background.png");
  color: #023859;
  font-family: sans-serif; /* Nexa Bold */
}

a {
  color: inherit;
}

/* header */
header {
  height: 6.14%;
  display: flex;
  justify-content: space-between;
}
/* novento icon */
.icon {
  width: 200px;
  height: 200px;
}

/* main navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 545px;
  height: 119px;
  background-image: url("../images/nav.png");
}

.main-nav {
  list-style: none;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a:link {
  margin: 14px;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  cursor: pointer;
}

.main-nav__item:last-child {
  color: #f29f05;
  background-color: #023859;
  border-radius: 20px;
}

.main-nav__item a:hover {
  font-size: 25px;
}

/* main */
main {
  height: 77.45%;
}

/* .results {
  height: ;
} */

h1 + div {
  width: 83.33%;
  height: 4.42%;
  background-color: #f29f05;
  border-radius: 3em;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 45px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  height: 99px;
  margin-top: 40px;
  margin-bottom: 64px;
}

input {
  /* display: inline-block; */
  border-radius: 20px;
  width: 790px;
  height: 49px;
  background-image: url("../images/search.png");
  color: #000;
  margin-left: 24px;
  margin-bottom: 74px;
  padding: 10px;
  font-size: em;
}

.results-images {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

/* best-lofts discover section */
h2.lofts-title {
  font-size: 54px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 92px;
  height: 99px;
}

.lofts-images {
  display: flex;
  /* height: ;
  width: ; */
  gap: 20px;
  justify-content: center;
}

/* help-support section */
h2.help {
  font-size: 87px;
  line-height: 90px;
  font-weight: 700;
  text-align: center;
}

.help-image {
  display: flex;
  justify-content: center;
  margin-bottom: 62px;
}

/* footer */
footer {
  height: 60.41%;
}

.footer-nav-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 100px auto;
}

hr {
  width: 80%;
  margin: auto;
  color: #023859;
}

.footer-nav,
.novento-nav {
  list-style: none;
}

.footer-nav__item p {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.footer-nav__item a:link,
.novento-nav__item a:link {
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
  cursor: pointer;
}

.novento-nav-container {
  display: flex;
  width: 80%;
  margin-top: 50px;
}

.novento-nav__item {
  display: inline-block;
  margin-right: 20px;
}

.novento-nav-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
  /* margin: 100px auto; */
}
